@model CRM.Models.ContactUs

@{

    Layout = "~/Views/Shared/_LayoutSigleForm.cshtml";
}



<!-- start content -->

<div class="content">
    <div class="container-fluid">

        <div class="contact-title text-center">
            <h1 class="title-font title-line-bottom-center mb-3">پدیده بگ-تولید ساک خرید کاغذی</h1>
            <p class="text-muted mb-4">پدیده بگ تولید ساک خرید، ساک خرید گلاسه و ساک خرید کرافت</p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="single_address">
                    <i class="bi bi-pin-map"></i>
                    <p>آدرس شرکت</p>
                    <p>تهران - سعدی شمالی خیابان مصباح پلاک 171</p>
                </div>

                <div class="single_address">
                    <i class="bi bi-envelope"></i>
                    <p>ایمیل شرکت</p>
                    <p>info@padidehbags.com</p>
                    <p>padidehbagss@gmail.com</p>
                </div>
                <div class="single_address">
                    <i class="bi bi-telephone"></i>
                    <p>شماره های شرکت</p>
                    <p>

                        <a href="tel:02177622674">77622674</a><br />

                        <a href="tel:02177622675">77622675</a><br />
                        <a href="tel:021776217876">77617876</a><br />
                        <a href="tel:02177508840">77508840</a><br />

                        <a href="tel:09364218681">09364218681</a><br />

                    </p>
                </div>
                <div class="single_address">
                    <i class="bi bi-clock-history"></i>
                    <p>ساعت کاری</p>
                    <p>شنبه تا چهارشنبه 9 صبح تا 18 بعد از ظهر <br>پنج شنبه ها 9 صبح تا 14 بعد از ظهر</p>
                </div>

            </div>



          

            <div class="col-lg-9">
                <br />

                <div class="map" id="map_container">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.1789743660975!2d51.42398747512675!3d35.697213129097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e01de90904a01%3A0x17e802b23a513efe!2zUGFkaWRlaCBiYWdzLSDZvtiv24zYr9mHINio2q8g2KrZiNmE24zYryDYp9mG2YjYp9i5INiz2KfaqSDYr9iz2KrbjA!5e0!3m2!1sen!2sus!4v1705132598744!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <br />

                <div class="single_address">

                    <p>مدیریت</p>
                    <p>
                        <h2>تولید کننده برتر شاپینگ بگ: آقای محمد امیرخانی</h2>
                     <br />
                    <p> آقای سعید دساه</p>

                        
                        <br />

                    </p>
                    <b>مدیر داخلی</b>
                    <p>

                        خانم مهتدی<br />

                    </p>
                    <b>مدیر دپارتمان طراحی</b>
                    <p>

                        خانم مشکانی<br />

                    </p>
                    <b>مدیر مالی</b>
                    <p>

                        خانم مهتدی<br />

                    </p>
                    <b>دپارتمان IT</b>
                    <p>

                        آقای کوهستانی<br />
                        آقای مسعود فاتحی<br />
                    </p>
                  
                </div>

                <div class="content-box">


                    <div class="container-fluid">
                        <form action="">
                            <div class="row gy-4">
                                <div class="col-sm-6">
                                    <div class="comment-item">
                                        <input type="email" class="form-control" id="floatingInputEmail1">
                                        <label for="floatingInputEmail1" class="form-label label-float">
                                            ایمیل خود را وارد
                                            کنید
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="comment-item">
                                        <input type="text" class="form-control" id="floatingInputName">
                                        <label for="floatingInputName" class="form-label label-float">
                                            نام خود را وارد
                                            کنید
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="comment-item">
                                        <textarea class="form-control" id="floatingTextarea2" style="height: 150px"></textarea>
                                        <label for="floatingTextarea2" class="form-label label-float">متن پیام!</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn-flat dark lg">ارسال</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- end content -->