@model IEnumerable<CRM.Models.Content>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSigleForm.cshtml";
}


<br />
<h1 style="position :center "><strong>دانلود کاتالوگ </strong></h1>

<div class="col-lg-4">
    <div class="product-box">
        <div class="product-box-image">

            <img src="assets/img/product/product-image-1.jpg" loading="lazy" alt="" class="img-fluid one-image">
            <img src="assets/img/product/product-image-6.jpg" loading="lazy" alt="" class="img-fluid two-image">


            <span class="product-box-image-overlay"></span>
        </div>



        <div class="product-box-action">
            <a class="btn rounded-0 main-color-three-bg border-0 w-100" href="../Download/Catalog.pdf">
                دانلود کاتالوگ ساک خرید آماده
            </a>
        </div>
    </div>

    <div class="product-box">
        <div class="product-box-image">

            <img src="../img/جعبه-آماده-پدیده-بگ1.jpg" loading="lazy" alt="" class="img-fluid one-image">
            <img src="../img/جعبه-آماده-پدیده-بگ1.jpg" loading="lazy" alt="" class="img-fluid two-image">


            <span class="product-box-image-overlay"></span>
        </div>



        <div class="product-box-action">
            <a class="btn rounded-0 main-color-three-bg border-0 w-100" href="../Download/catalog-box.pdf">
                دانلود کاتالوگ جعبه آماده
            </a>
        </div>
    </div>


    <div class="product-box">
        <div class="product-box-image">

            <img src="../img/ساک-دستی-کاغذیی2.jpg" loading="lazy" alt="" class="img-fluid one-image">
            <img src="../img/ساک-دستی-کاغذیی1.jpg" loading="lazy" alt="" class="img-fluid two-image">


            <span class="product-box-image-overlay"></span>
        </div>



        <div class="product-box-action">
            <a class="btn rounded-0 main-color-three-bg border-0 w-100" href="../Download/Size-list.pdf">
                جدول سایزهای شاپینگ بگ
            </a>
        </div>
    </div>
</div>



<br />
