@model CRM.Areas.Admin.Models.Job

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>تست</title>
</head>
<body>
    <div>
        <h1>
            dsadsadsdsad
        </h1>
        
    </div>
</body>
</html>
