  <!--end header-->
<!-- start mega menu -->
<div class="mega-menu mega-menu-top d-lg-block d-none">
    <div class="container-fluid position-relative">
        <div class="header-mega-menu">
            <div class="top-menu-menu">
                <ul class="navbar-nav align-items-center">
                    <li class="position-relative m-0"></li>
                    <li class="nav-item">
                        <a class="nav-link header-top-menu-link-a fw-bold-hover " href="..">
                            صفحه اصلی
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link header-top-menu-link-a fw-bold-hover" href="../Exclusive-Shopping-Bag">
                            محصولات اختصاصی
                        </a>
                        <ul class="list-unstyled shadow-lg back-menu sub-menu mega-container"
                            style="background: #fff url('../assets/img/ساک-خرید-کاغذی-فروشگاهی.jpg') no-repeat;background-size: 300px !important;">
                            <li><a class="title" href="../Exclusive-Shopping-Bag">ساک دستی اختصاصی</a></li>
                            <li><a href="../Glossy-Shopping-Bag">ساک دستی گلاسه</a></li>
                            <li><a href="../Kraft-Shopping-Bag">ساک دستی کاغذی کرافت</a></li>
                            <li><a href="../Card-Shopping-Bag">ساک دستی کاغذی کارتی </a></li>
                            <li><a href="../Shopping-Bag-Strap">بند ساک دستی</a></li>

                            <li>
                                <a class="title" href="../Fabric-Shopping-Bag">ساک پارچه ای </a>
                            </li>
                            <li><a href="../Pressed-Fabric-Bag">ساک پارچه ای پرسی</a></li>
                            <li><a href="../Sewn-Shopping-Bag">ساک پارچه ای دوختی</a></li>
                            <li>
                                <a class="title" href="../Promotional-Nylon">نایلون و نایلکس </a>
                            </li>
                            <li>
                                <a class="title" href="../Fabric-Shopping-Bag">جعبه اختصاصی </a>
                            </li>
                            <li><a href="../Cardboard-Box">جعبه مقوایی</a></li>
                            <li><a href="../Hard-Box">هارد باکس</a></li>
                            <li>
                                <a class="title" href="../Packaging-Paper">کاغذ بسته بندی و لیبل </a>
                            </li>



                            <li>
                                <a class="title" href="../Ribbon">روبان </a>
                            </li>
                            <li><a href="../Satin">ساتن</a></li>
                            <li><a href="../Match-Tape">نوار گلو(کبریتی)</a></li>
                            <li><a href="../Cloth-Brand">مارک لباس</a></li>


                            <li>
                                <a class="title" href="../Postal-Envelope">پاکت پستی </a>
                            </li>



                            <li>
                                <a class="title" href="../Office-Set">ست اداری </a>
                            </li>
                            <li><a href="../Letter-Pocket">پاکت نامه</a></li>
                            <li><a href="../Folder">فولدر</a></li>
                            <li><a href="../Visit-Card">کارت ویزیت</a></li>
                            <li><a href="../Thanks-Card">کارت تشکر</a></li>
                            <li><a href="../Hanging-Card">کارت آویز</a></li>
                            <li><a href="../Tract">تراکت</a></li>
                            <li><a href="../Brochure">بروشور</a></li>
                            <li><a href="../Catalog">کاتالوگ</a></li>
                            <li><a href="../Hologram">هولوگرام</a></li>

                            <li>
                                <a class="title" href="../Logo-Design">طراحی لوگو </a>
                            </li>



                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-top-menu-link-a fw-bold-hover" href="../Ready-Shopping-Bag">
                            محصولات آماده
                        </a>
                        <ul class="list-unstyled shadow-lg back-menu sub-menu mega-container"
                            style="background: #fff url('../assets/img/ساک-خرید-کاغذی-فروشگاهی.jpg') no-repeat;background-size: 300px !important;">
                            <li><a class="title" href="../Ready-Paper-Shopping-Bag">ساک خرید آماده دستی</a></li>
                            <li><a class="title" href="../Ready-Glossy-Shopping-Bag">ساک خرید آماده گلاسه</a></li>


                            <li>
                                <a class="title" href="../Ready-Kraft-Shopping-Bag">ساک خرید آماده کرافت</a>
                            </li>

                            <li>
                                <a class="title" href="../Ready-Box">جعبه آماده</a>
                            </li>


                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-top-menu-link-a fw-bold-hover " href="../Blog/">
                            مجله پدیده
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link header-top-menu-link-a fw-bold-hover " href="../Recruitments/">
                            اخذ نمایندگی و استخدام
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-top-menu-link-a fw-bold-hover " href="../FAQ/">
                            سئوالات متداول
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-top-menu-link-a fw-bold-hover " href="../AboutUs/">
                            درباره ما
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-top-menu-link-a fw-bold-hover " href="../ContactUs/">
                            تماس با ما
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end mega menu -->
<!-- start main slider -->

<div class="main-slider">
    <div class="container-fluid">
        <div class="slider">
            <div class="swiper homeSlider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="../Paper-Shopping-Bag">
                            <img alt="ساک خرید آماده دستی کاغذی,ساک خرید فروشگاهی آماده کاغذی,ساک خرید آماده گلاسه, ساک خرید پارچه ای, پاکت خرید کاغذی" class="img-fluid" loading="lazy" src="../img/ساک-خرید-فروشگاهی-کاغذی-آماده-پدیده-بگ.webp">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="../Ready-Shopping-Bag">
                            <img alt="ساک خرید آماده دستی کاغذی,ساک خرید فروشگاهی آماده کاغذی,شاپینگ بگ,چاپ بگ دستی کاغذی" class="img-fluid" loading="lazy" src="../img/ساک-خرید-گلاسه-پدیده-بگ.webp">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="../Ready-Shopping-Bag">
                            <img alt="ساک خرید کاغذی دستی آماده,ساک خرید فروشگاهی آماده کاغذی,ساک دستی کاغذی آماده" class="img-fluid" loading="lazy" src="../img/ساک-خرید-کاغذی-آماده-فوری-پدیده-بگ.webp">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="../Ready-Glossy-Shopping-Bag">
                            <img alt="از کجا ساک خرید کاغذی آماده بخرم,ساک خرید فروشگاهی آماده کاغذی, ساک دستی کرافت, خرید ساک خرید کاغذی" class="img-fluid" loading="lazy" src="../img/ساک-خرید-گلاسه-آماده.webp">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="../Fabric-Shopping-Bag">
                            <img alt="شاپینگ بگ آماده,ساک خرید کاغذی آماده,ساک خرید فروشگاهی آماده کاغذی ,ساک خرید کرافت, ساک خرید فوری, ساک خرید گلاسه آماده" class="img-fluid" loading="lazy" src="../img/ساک-کاغذی-فروشگاهی-پدیده-بگ.webp">
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next d-lg-flex d-none"></div>
                <div class="swiper-button-prev d-lg-flex d-none"></div>
            </div>
        </div>
    </div>
</div>

<!-- end main slider -->
<!-- start advert -->
<!--  start panel meta  -->

<div class="row gy-4">

    <div class="account-settings col-lg-4">
        <a href="Ready-Glossy-Shopping-Bag">
            <div class="user-profile">
                <div class="user-avatar">
                    <img src="../img/ساک-خرید-گلاسه-آماده-پاکت.png" alt="ساک خرید گلاسه آماده پاکت">
                </div>
                <strong class="user-name">ساک خرید کاغذی گلاسه آماده</strong>

            </div>
        </a>
    </div>

    <div class="account-settings col-lg-4">
        <a href="Ready-Kraft-Shopping-Bag">
            <div class="user-profile">
                <div class="user-avatar">
                    <img src="../img/ساک-خرید-کرافت-آماده-پاکت.png" alt="ساک خرید کرافت آماده پاکت">
                </div>
                <strong class="user-name">ساک خرید کاغذی کرافت آماده</strong>

            </div>
        </a>
    </div>

    <div class="account-settings col-lg-4">
        <a href="Exclusive-Shopping-Bag">
            <div class="user-profile">
                <div class="user-avatar">
                    <img src="../img/ساک-خرید-اختصاصی-پاکت.png" alt="ساک خرید اختصاصی پاکت">
                </div>
                <strong class="user-name">ساک خرید کاغذی اختصاصی</strong>

            </div>
        </a>
    </div>

</div>

<!--  end panel meta  -->

<div class="section-title">
    <div class="row gy-3 align-items-center">
        <div class="col-sm-8">
            <div class="section-title-title">
                <h1 class="title-font main-color-one-color h1">
                    ساک دستی کاغذی آماده تحویل فوری
                </h1>
                <div class="Dottedsquare"></div>
            </div>
        </div>

    </div>
</div>

<div class="category-items">
    <div class="row g-3">

        <div class="col-lg-4">
            <a href="ساک-دستی-کاغذی-آماده">
                <div class="product-box">
                    <div class="product-box-image">

                        <img src="../img/ساک-دستی-کاغذیی1.jpg" loading="lazy" alt="ساک خرید فروشگاهی دستی کاغذیی " class="img-fluid one-image">
                        <img src="../img/ساک-دستی-کاغذیی2.jpg" loading="lazy" alt="ساک دستی خرید کاغذیی فروشگاهی" class="img-fluid two-image">

                    </div>
                    <div class="product-box-title">

                        <h2 class="text-overflow-2 text-center">
                            ساک دستی کاغذی آماده
                        </h2>

                    </div>



                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="Shopping-Bag-Maker">
                <div class="product-box">
                    <div class="product-box-image">

                        <img src="img/پاکت-خرید-فروشگاهی1.jpg" loading="lazy" alt="پاکت خرید فروشگاهی کاغذی دستی" class="img-fluid one-image">
                        <img src="img/پاکت-خرید-فروشگاهی2.jpg" loading="lazy" alt="ساک دستی خرید کاغذی فروشگاهی" class="img-fluid two-image">

                    </div>
                    <div class="product-box-title">

                        <h2 class="text-overflow-2 text-center">

                            شاپینگ بگ آماده 25 عددی
                        </h2>

                    </div>



                </div>
            </a>
        </div>

        <div class="col-lg-4">
            <a href="پاکت-خرید-کاغذی">
                <div class="product-box">
                    <div class="product-box-image">

                        <img src="img/پاکت-خرید-کاغذی1.jpg" loading="lazy" alt="شاپینگ بگ کاغذی ساک خرید دستی پاکتی" class="img-fluid one-image">
                        <img src="img/پاکت-خرید-کاغذی2.jpg" loading="lazy" alt="شاپینگ بگ کاغذی ساک خرید دستی پاکتی" class="img-fluid two-image">

                    </div>
                    <div class="product-box-title">

                        <h2 class="text-overflow-2 text-center">
                            پاکت خرید کاغذی
                        </h2>

                    </div>



                </div>
            </a>
        </div>



    </div>
</div>



<div class="advert d-lg-block d-none advert-under-slider py-40">
    <div class="container-fluid">
        <div class="row gx-0 gy-4">
            <div class="col-lg-4">
                <div class="advert-item">
                    <a href="../Ready-Paper-Shopping-Bag">
                        <img alt="خرید ساک دستی آماده,ساک خرید فروشگاهی آماده کاغذی,سفارش ساک دستی آماده,فروش شاپینگ بگ" src="../assets/img/ساک-خرید-دستی-آماده.jpg">
                        <div class="advert-item-title">
                            <p>ساک خرید کاغذی</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="advert-item px-lg-3 px-0">
                    <a href="../Cardboard-Box">
                        <img alt="سفارش ساک دستی آماده,ساک خرید کرافت,ساک خرید فروشگاهی آماده کاغذی,خرید شاپینگ بگ آماده" src="../assets/img/جعبه-آماده-سفارشی-اختصاصی.jpg">
                        <div class="advert-item-title">
                            <p>جعبه</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="advert-item">
                    <a href="../Packaging">
                        <img alt="ساک دستی کاغذی آماده,ساک خرید فروشگاهی آماده کاغذی, ساک خرید گلاسه آماده, ساک دستی آماده کرافت " src="../assets/img/ساک-خرید-کاغذ-بسته-بندی.jpg">
                        <div class="advert-item-title">
                            <p>پکیجینگ </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- start product slider -->



<div class="col-12">
    <div class="content-box">
        <div class="container-fluid">
            <div class="product-desc-content">
                <input class="read-more-state" id="readMore3" type="checkbox">
                <!-- والد بیشتر ، کمتر ، تمام متن توضیحات باید داخل این تگ قرار بگیرند -->
                <div class="read-more-wrap">
                    <h2 class="font-22 mb-2 title-font title-line-bottom"><strong>ساک خرید کاغذی آماده فروشگاهی چیست؟</strong></h2>


                    <p dir="rtl">
                        ساک های خرید کاغذی آماده معمولا ساک های&nbsp; پرفروشی هستند که مجموعه پدیده اینگونه ساک ها را تولید انبوه میکند.
                    </p>
                    <p dir="rtl">
                        مجموعه پدیده بگ به دلیل سابقه بالای فروش ساک های کاغذی فروشگاهی با برآورد بازار سایزهایی که بیشتر در بازار فروخته می شوند را از قبل تولید میکند.
                    </p>
                    <p dir="rtl">
                        مسلما اینگونه ساک های خرید کاغذی برای مشتری هم مقرون به صرفه هستند و هم مزیت این را دارند که به صورت فوری آنها را تحویل میگیرید.
                    </p>
                    <p dir="rtl">
                        دلیل این مقرون به صرفه بودن اینست که این ساک های خرید کاغذی با قالب آماده ما ساخته شده اند.
                    </p>

                    <p dir="rtl">
                        تولید انواع ساک خرید کاغذی آماده فروشگاهی، گلاسه و کرافت در پدیده بگ.
                    </p>.



                    <!-- متن بیشتر -->
                    <div class="read-more-target">
                        <p dir="rtl">
                            یعنی مشتری گرامی مجبور به پرداخت هزینه قالب نیست.
                        </p>
                        <p dir="rtl">
                            ما در مجموعه پدیده بگ بیش از 650 نوع ساک خرید کاغذی آماده با انواع سایزها موجود داریم.
                        </p>
                        <p dir="rtl">
                            ساک های خرید آماده پدیده بگ به ساک خرید کاغذی گلاسه آماده، ساک خرید کاغذی کرافت آماده ، ساک خرید پارچه ای آماده تقسیم بندی می شوند.
                        </p>


                    </div>
                    <!-- پایان متن بیشتر -->
                </div>
                <!-- پایان والد بیشتر کمتر -->
                <label class="read-more-trigger" for="readMore3"></label>
            </div>
        </div>
    </div>
</div>
<br />
<div class="col-12 row gy-4">
    <div class="content-box">
        <div class="container-fluid">
            <div class="product-desc-content">
                <input class="read-more-state" id="readMore3" type="checkbox">
                <!-- والد بیشتر ، کمتر ، تمام متن توضیحات باید داخل این تگ قرار بگیرند -->
                <div class="read-more-wrap">
                    <h2 class="font-22 mb-2 title-font title-line-bottom"><strong>سئوالات متداول در مورد ساک خرید کاغذی</strong></h2>

                    <div class="about-us-faq">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                        چطور سفارش ساک خرید کاغذی آماده بدهیم؟
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne" style="">
                                    <div class="accordion-body">
                                        <p>
                                            ما بیش از 650 سایز ساک خرید کاغذی آماده داریم، کافیست ابعاد محصولتان را بفرمایید و از میان اینهمه ساک خرید کاغذی آماده یکی را انتخاب کنید، اگر هم ساک خرید خاصی مورد نظرتان باشد ما برایتان آن را به صورت سفارشی میسازیم.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                        ساخت ساک خرید کاغذی چند روز طول میکشد؟
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" style="">
                                    <div class="accordion-body">
                                        <p>
                                            اگر ساک خرید کاغذی آماده را انتخاب بفرمایید در همان روز تحویلتان میدهیم ولی اگر طرح خاصی روی ساک خرید بخواهید چاپ کنید بین 2 الی 3 روز ساک خریدتان را تحویل میدهیم.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                        حداقل تیراژ ساخت ساک خرید چقدر است؟
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree" style="">
                                    <div class="accordion-body">
                                        <p>
                                            ساک های خرید کاغذی آماده ما حداقل تیراژ 25 عدد است ولی ساک های خرید سفارشی حداقل 500 عدد
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                        آیا به صورت غیر حضوری هم ساک خرید کاغذی میسازید؟
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour" style="">
                                    <div class="accordion-body">
                                        <p>
                                            بله، ما به تمام نقاط کشور عزیزمان ساک خرید کاغذی و ساک های خرید پارچه ای فروخته ایم و جعبه فرستاده ایم، حتی به خارج از ایران مثل کشورهای همسایه ایران (عراق ، آذربایجان، کردستان،پاکستان و افغانستان)و کشورهای اروپایی(آلمان ، انگلیس) و کانادا مشتری های خوبی داریم.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                        بیشتر برای چه مشاغلی ساک خرید کاغذی دارید؟
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive" style="">
                                    <div class="accordion-body">
                                        <p>
                                            ما انواع و اقسام ساک خرید برای مشاغل مختلف تولید کرده ایم و خیلی از ساک های خرید ما به صورت آماده است، از ساک خرید فروشگاهی، ساک خرید کاغذی کفش تا ساک های خرید تبلیغاتی شرکتی  را قبلا ساخته ایم .
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<br />
<br />

<div class="row gy-4">
    <div class="container-fluid">
        <div class="section-title">
            <div class="row gy-3 align-items-center">
                <div class="col-sm-8">
                    <div class="section-title-title">
                        <h2 class="title-font main-color-one-color h1">
                            ساک دستی کاغذی گلاسه <span class="main-color-three-color"> و کرافت</span>
                        </h2>
                        <div class="Dottedsquare"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="section-title-link text-sm-end text-start">
                        <a class="font-16 btn-flat dark" href="../ساک-دستی-کاغذی">ساک خرید آماده کاغذی</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-parent">
            <div class="swiper product-slider-swiper">

                <div class="swiper-wrapper ">

                    <div class="swiper-slide">
                        <div class="product-box">
                            <a href="../Glossy-Shopping-Bag">
                                <div class="product-box-image">

                                    <img src="../assets/img/product/ساک-خرید-دستی-گلاسه-اختصاصی-آماده-فروشگاهی.jpg" loading="lazy" alt="ساک خرید کاغذی آماده دستی فروشگاهی کاغذی,شاپینگ بگ کاغذی,ساک خرید آماده,ساک خرید کاغذی,کیسه خرید,پاکت خرید کاغذی" class="img-fluid one-image">
                                    <img src="../assets/img/product/ساک-خرید-دستی-گلاسه-اختصاصی-آماده-فروشگاهی1.jpg" loading="lazy" alt="ساک خرید کاغذی آماده دستی فروشگاهی کاغذی,ساک خرید آماده,پاکت خرید کاغذی,پاکت خرید کرافت,ساک خرید کرافت" class="img-fluid two-image">



                                    <span class="product-box-image-overlay"></span>
                                </div>
                                <div class="product-box-title">

                                    <h3 class="text-overflow-2 text-center">
                                        ساک دستی کاغذی گلاسه اختصاصی
                                    </h3>

                                </div>





                            </a>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <a href="../Ready-Glossy-Shopping-Bag">
                                <div class="product-box-image">
                                    <img src="../assets/img/product/ساک-خرید-گلاسه-فروشگاهی-دستی-پاکت-آماده1.jpg" loading="lazy" alt="ساک خرید آماده گلاسه,ساک کاغذی خرید,ساک خرید کاغذی گلاسه  " class="img-fluid one-image">


                                    <img src="../assets/img/product/ساک-خرید-گلاسه-فروشگاهی-دستی-پاکت-آماده.jpg" loading="lazy" alt="چاپ  ساک کاغذی آماده,قيمت ساک كاغذی,چاپ ساک دستی تبلیغاتی اختصاصی" class="img-fluid two-image">



                                    <span class="product-box-image-overlay"></span>
                                </div>
                                <div class="product-box-title">

                                    <h3 class="text-overflow-2 text-center">
                                        ساک دستی کاغذی گلاسه آماده
                                    </h3>

                                </div>



                            </a>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <div class="product-box">
                            <a href="../Ready-Kraft-Shopping-Bag">
                                <div class="product-box-image">

                                    <img src="../assets/img/product/ساک-خرید-کاغذی-دستی-فروشگاهی-آماده.jpg" loading="lazy" alt="ساک خرید آماده کرافت,پاکت خرید کرافت آماده,ساک خرید کاغذی گلاسه" class="img-fluid one-image">
                                    <img src="../assets/img/product/ساک-خرید-کاغذی-دستی-فروشگاهی-آماده1.jpg" loading="lazy" alt="ساک خرید آماده کاغذی کرافت,ساک خرید کرافت,پاکت خرید کرافت آماده فروشگاهی " class="img-fluid two-image">



                                    <span class="product-box-image-overlay"></span>
                                </div>
                                <div class="product-box-title">

                                    <h3 class="text-overflow-2 text-center">
                                        ساک دستی کاغذی کرافت آماده
                                    </h3>

                                </div>



                            </a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-box">

                            <a href="../Kraft-Shopping-Bag">
                                <div class="product-box-image">

                                    <img src="../assets/img/product/ساک-خرید-کرافت-اختصاصی.jpg" loading="lazy" alt="ساک خرید  کاغذی آماده کرافت,ساک کاغذی کرافت,ساک خرید کاغذی آماده " class="img-fluid one-image">
                                    <img src="../assets/img/product/ساک-خرید-کرافت-اختصاصی1.jpg" loading="lazy" alt="ساک خرید  گاغذی آماده کرافت,ساک خرید کاغذی,ساک خرید گلاسه آماده" class="img-fluid two-image">




                                    <span class="product-box-image-overlay"></span>
                                </div>
                                <div class="product-box-title">

                                    <h3 class="text-overflow-2 text-center">
                                        ساک دستی کاغذی کرافت اختصاصی
                                    </h3>

                                </div>


                            </a>
                        </div>

                    </div>

                </div>




            </div>




        </div>



    </div>
</div>
<br />
<!-- end product slider -->


<br />







<!-- start advert -->

<div class="advert d-lg-block d-none advert-under-slider py-40">
    <div class="container-fluid">
        <div class="advert-item img-tilt" data-tilt>
            <a href="../Packging">
                <img alt="ساک خرید کاغذی,ساک گلاسه خرید,ساک دستی کاغذی تبليغاتی" src="../assets/img/ساک-خرید-گلاسه-روبان.jpg">
                <div class="advert-item-title">
                    <p>چاپ ساک خرید کاغذی دستی، بسته بندی محصولات(پکیجینگ)</p>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- end advert -->
