@model CRM.Areas.Admin.Models.Process

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layotAdmin.cshtml";
}

<h2></h2>

<h3>آیا از حذف این کار مطمئن هستید؟</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.NameFmily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.NameFmily)
        </dd>

    

        

     

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
