@model IEnumerable<CRM.Models.Content>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSigleForm.cshtml";
}


<!-- start content -->

<div class="content">
    <div class="about-us">
        <div class="container-fluid">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="row align-items-center gy-3">
                        <div class="col-lg-6">
                            <div class="about-us-desc">
                                <div class="about-us-title">
                                    <div class="about-us-title">
                                        <p>پدیده بگ</p>
                                        <h1>ساک دستی کاغذی و شاپینگ بگ </h1>
                                        <div class="Dottedsquare"></div>
                                    </div>
                                </div>
                                <div class="about-us-text">
                                    <div class="about-us-social me-4">
                                        <nav class="navbar">
                                            <ul class="navbar-nav">
                                                <li class="nav-item"><a href="https://instagram.com/padidehbags" class="nav-link text-muted-two"><i class="bi bi-instagram"></i></a></li>
                                                <li class="nav-item"><a href="https://twitter.com/PadidehBags" class="nav-link text-muted-two"><i class="bi bi-twitter"></i></a></li>
                                                <li class="nav-item"><a href="https://www.linkedin.com/in/padideh-bags-450a212aa/" class="nav-link text-muted-two"><i class="bi bi-linkedin"></i></a></li>
                                                <li class="nav-item"><a href="https://telegram.me/Padidehbagss" class="nav-link text-muted-two"><i class="bi bi-telegram"></i></a></li>
                                                <li class="nav-item"><a href="https://youtube.com/padidehbags" class="nav-link text-muted-two"><i class="bi bi-youtube"></i></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <p class="text-muted text-justify mb-0 mt-3">
                                        .با بیش از سی سال سابقه خدمت به مشتریان در زمینه فروش ساک خرید و کیسه های خرید کرافت و کاغذی و پارچه ای و با گردهم آوردن متخصصان این عرصه بالغ بر ده سال است که برند را به صورت تخصصی در زمینه ساک خرید ،جعبه و چاپ عرضه کرده است. همچنین برای ارائه هرچه تمام تر فعالیت خود از سال  1400فروشگاه اینترنتی ساک دستی و ساک کاغذی را راه اندازی نموده است. به مدیریت آقای امیرخانی  شروع به فعالیت کرده و همچنان با سرعت هرچه تمام تر در حال به روز رسانی فعالیت های خود و ارائه انواع خدمات به مشتریان گرامی در سراسر ایران به صورت حضوری و آنلاین می باشد را به صورت تخصصی در زمینه ساک دستی و شاپینگ بگ  عرضه کرده است. همچنین برای ارائه هرچه تمام تر فعالیت خود از سال فروشگاه اینترنتی شاپینگ بگ را راه اندازی نموده است.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-us-image text-lg-end text-center">
                                <img src="../assets/img/پدیده-بگ-چاپ-ساک-خرید-کاغذی.png" alt="پدیده بگ,تولید انواع ساک خرید کاغذی,ساک خرید آماده,ساک خرید گلاسه">
                            </div>
                        </div>
                    </div>




                    <p class="title-font text-center my-4 title-line-bottom-center">برخی از مشتریانی که پدیده بگ افتخار همکاری با آنها را داشته است:</p>

                    <nav class="navbar navbar-expand justify-content-center ">
                        <ul class="navbar-nav ">
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/1.png" alt="پدیده بگ,ساک خرید آماده,ساک خرید گلاسه"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/2.png" alt="پدیده بگ,ساک خرید آماده,ساک خرید گلاسه"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/3.png" alt="پدیده بگ,ساک خرید آماده,ساک خرید گلاسه"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/4.png" alt="پدیده بگ,ساک خرید آماده,ساک خرید گلاسه"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/5.png" alt="پدیده بگ,ساک خرید آماده,ساک خرید گلاسه"></li>

                        </ul>
                    </nav>
                    <nav class="navbar navbar-expand justify-content-center ">
                        <ul class="navbar-nav ">

                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/6.png" alt="ساک خرید کاغذی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/7.png" alt="ساک خرید کاغذی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/8.png" alt="ساک خرید کاغذی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/9.png" alt="ساک خرید کاغذی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/10.png" alt="ساک خرید کاغذی آماده"></li>


                        </ul>
                    </nav>
                    <nav class="navbar navbar-expand justify-content-center ">
                        <ul class="navbar-nav ">

                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/11.png" alt="ساک خرید گلاسه کاغذی"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/12.png" alt="ساک خرید مزونی"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/13.png" alt="ساک خرید مزونی"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/14.png" alt="ساک خرید مزونی"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/15.png" alt="ساک خرید مزونی"></li>

                        </ul>
                    </nav>
                    <nav class="navbar navbar-expand justify-content-center ">
                        <ul class="navbar-nav ">

                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/16.png" alt="ساک خرید گلاسه آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/17.png" alt="ساک خرید گلاسه آماده">></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/18.png" alt="ساک خرید گلاسه آماده">></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/19.png" alt="ساک خرید گلاسه آماده">></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/20.png" alt="ساک خرید گلاسه آماده">></li>

                        </ul>
                    </nav>
                    <nav class="navbar navbar-expand justify-content-center ">
                        <ul class="navbar-nav ">

                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/21.png" alt="ساک خرید کاغذی آماده"><</li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/22.png" alt="ساک خرید کاغذی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/23.png" alt="ساک خرید کاغذی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/24.png" alt="ساک خرید کاغذی آماده" /></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/25.png" alt="ساک خرید کاغذی آماده"></li>
                        </ul>
                    </nav>

                    <nav class="navbar navbar-expand justify-content-center ">
                        <ul class="navbar-nav ">
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/26.png" alt="ساک خرید پارچه ای"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/27.png" alt="ساک خرید پارچه ای"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/28.png" alt="ساک خرید پارچه ای"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/29.png" alt="ساک خرید پارچه ای"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/30.png" alt="ساک خرید پارچه ای"></li>

                        </ul>
                    </nav>
                    <nav class="navbar navbar-expand justify-content-center ">
                        <ul class="navbar-nav ">

                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/31.png" alt="ساک دستی  پارچه ای پرسی "></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/32.png" alt="ساک دستی پارچه ای پرسی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/33.png" alt="ساک دستی پارچه ای پرسی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/34.png" alt="ساک دستی پارچه ای پرسی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/35.png" alt="ساک دستی پارچه ای پرسی آماده"></li>


                        </ul>
                    </nav>
                    <nav class="navbar navbar-expand justify-content-center ">
                        <ul class="navbar-nav ">

                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/36.png" alt="ساک خرید دستی  پارچه ای دوختی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/37.png" alt="ساک خرید دستی پارچه ای دوختی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/38.png" alt="ساک خرید دستی پارچه ای دوختی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/39.png" alt="ساک خرید دستی پارچه ای دوختی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/40.png" alt="ساک خرید دستی پارچه ای دوختی آماده"></li>

                        </ul>
                    </nav>
                    <nav class="navbar navbar-expand justify-content-center ">
                        <ul class="navbar-nav ">

                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/41.png" alt="ساک  پارچه ای دوختی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/42.png" alt="ساک پارچه ای دوختی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/43.png" alt="ساک پارچه ای دوختی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/44.png" alt="ساک پارچه ای دوختی آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/45.png" alt="ساک پارچه ای دوختی آماده"></li>

                        </ul>
                    </nav>
                    <nav class="navbar navbar-expand justify-content-center ">
                        <ul class="navbar-nav ">

                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/46.png" alt="ساک گلاسه آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/47.png" alt="ساک گلاسه آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/48.png" alt="ساک گلاسه آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/49.png" alt="ساک گلاسه آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/50.png" alt="ساک گلاسه آماده"></li>
                        </ul>
                    </nav>
                    <nav class="navbar navbar-expand justify-content-center ">
                        <ul class="navbar-nav ">

                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/51.png" alt="خرید ساک کرافت آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/52.png" alt="خرید ساک کرافت آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/53.png" alt="خرید ساک کرافت آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/54.png" alt="خرید ساک کرافت آماده"></li>
                            <li class="nav-item footer-namad-item"><img src="../img/logo-customers/55.png" alt="خرید ساک کرافت آماده"></li>
                        </ul>
                    </nav>
         
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end content -->